# Combinding data to one Data Frame

## Import things

In [1]:
import pandas as pd
import numpy as np

## Load the data|

In [2]:
songs = pd.read_csv('./top_songs_clean.csv')

In [3]:
lyrics = pd.read_csv('./lyrics_clean.csv')

## Get to know the data

### Songs (Daily top-list data from Spotify)

In [35]:
songs.head(3)

,Unnamed: 0,Position,Track Name,Artist,Streams,URL,Date,Year,Month,Day,Country,Region,art_song
0,0,1,Reggaetón Lento (Bailemos),CNCO,19272,https://open.spotify.com/track/3AEZUABDXNtecAO...,2017-01-01,2017,1,1,ec,sa,CNCO - Reggaetón Lento (Bailemos)
1,1,2,Chantaje,Shakira,19270,https://open.spotify.com/track/6mICuAdrwEjh6Y6...,2017-01-01,2017,1,1,ec,sa,Shakira - Chantaje
2,2,3,Otra Vez (feat. J Balvin),Zion & Lennox,15761,https://open.spotify.com/track/3QwBODjSEzelZyV...,2017-01-01,2017,1,1,ec,sa,Zion & Lennox - Otra Vez (feat. J Balvin)

In [26]:
songs.shape

(3355829, 13)

#### Make a column with both Artist name and Track name

I did this since there can be songs with exactly the same name. I also needed a column in common for the 2 data frames to be able to join them together in a good way.

In [9]:
songs['art_song'] = songs['Artist'] + ' - ' + songs['Track Name']

In [10]:
songs.head(3)

,Unnamed: 0,Position,Track Name,Artist,Streams,URL,Date,Year,Month,Day,Country,Region,art_song
0,0,1,Reggaetón Lento (Bailemos),CNCO,19272,https://open.spotify.com/track/3AEZUABDXNtecAO...,2017-01-01,2017,1,1,ec,sa,CNCO - Reggaetón Lento (Bailemos)
1,1,2,Chantaje,Shakira,19270,https://open.spotify.com/track/6mICuAdrwEjh6Y6...,2017-01-01,2017,1,1,ec,sa,Shakira - Chantaje
2,2,3,Otra Vez (feat. J Balvin),Zion & Lennox,15761,https://open.spotify.com/track/3QwBODjSEzelZyV...,2017-01-01,2017,1,1,ec,sa,Zion & Lennox - Otra Vez (feat. J Balvin)

### Lyrics (lyrics data from lyrics.com)

In [6]:
lyrics.head(3)

,Unnamed: 0,Band,Lyrics,Song
0,0,Elijah Blake,"no, no i ain't ever trapped out the bando but ...",Everyday
1,1,Elijah Blake,"the drinks go down and smoke goes up, i feel m...",Live Till We Die
2,2,Elijah Blake,she don't live on planet earth no more she fou...,The Otherside

In [19]:
lyrics.shape

(516166, 5)

#### Make a column with both Band name and Song name

I did this since there can be songs with exactly the same name.  I also needed a column in common for the 2 data frames to be able to join them together in a good way.

lyrics['art_song'] = lyrics['Band'] + ' - ' + lyrics['Song']

In [12]:
lyrics.head(3)

,Unnamed: 0,Band,Lyrics,Song,art_song
0,0,Elijah Blake,"no, no i ain't ever trapped out the bando but ...",Everyday,Elijah Blake - Everyday
1,1,Elijah Blake,"the drinks go down and smoke goes up, i feel m...",Live Till We Die,Elijah Blake - Live Till We Die
2,2,Elijah Blake,she don't live on planet earth no more she fou...,The Otherside,Elijah Blake - The Otherside

#### Drop duplicated rows based on the new column

In [66]:
lyrics2 = lyrics.drop_duplicates(subset='art_song')

In [67]:
lyrics2.shape

(507369, 5)

### Make one data frame out of the 2 (songs and lyrics)

In [70]:
df = songs.merge(lyrics2, how='left', on='art_song', indicator=True, sort=True)

In [71]:
df.shape

(3355829, 18)

In [72]:
df.head(3)

,Unnamed: 0_x,Position,Track Name,Artist,Streams,URL,Date,Year,Month,Day,Country,Region,art_song,Unnamed: 0_y,Band,Lyrics,Song,_merge
0,2333254,197,Bailemos juntos,#TocoParaVos,1005,https://open.spotify.com/track/4LEzZn6vpMkQAQu...,2017-01-01,2017,1,1,uy,sa,#TocoParaVos - Bailemos juntos,NaN,NaN,NaN,NaN,left_only
1,149761,162,Enganchado #TocoParaVos - Cumbia Mix,#TocoParaVos,14864,https://open.spotify.com/track/7zW4IqrzU6dTLw3...,2017-01-07,2017,1,7,ar,sa,#TocoParaVos - Enganchado #TocoParaVos - Cumbi...,NaN,NaN,NaN,NaN,left_only
2,149989,190,Enganchado #TocoParaVos - Cumbia Mix,#TocoParaVos,11133,https://open.spotify.com/track/7zW4IqrzU6dTLw3...,2017-01-08,2017,1,8,ar,sa,#TocoParaVos - Enganchado #TocoParaVos - Cumbi...,NaN,NaN,NaN,NaN,left_only

## Save the data frame as a CSV-file

In [73]:
# load the data to a csv-file
df.to_csv('songs_lyrics.csv')