# Combinding data to one Data Frame 3

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('./songs_lyrics_api_data.csv')

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
genius = pd.read_csv('./genius_unique.csv')

In [4]:
data.head()

,Unnamed: 0,Position,Streams,Track Name,Artist,ID,Date,Year,Month,Day,Country,Region,Lyrics,Acousticness,Energy,Instrumentalness,Mode,Tempo,Valence
0,0,197,1005,Bailemos juntos,#TocoParaVos,4LEzZn6vpMkQAQuwFInnSh,2017-01-01,2017,1,1,uy,sa,NaN,0.1160,0.596,0.0,0.0,111.938,0.579
1,1,162,14864,Enganchado #TocoParaVos - Cumbia Mix,#TocoParaVos,7zW4IqrzU6dTLw3CM72Qbo,2017-01-07,2017,1,7,ar,sa,NaN,0.0197,0.435,0.0,0.0,108.994,0.736
2,2,190,11133,Enganchado #TocoParaVos - Cumbia Mix,#TocoParaVos,7zW4IqrzU6dTLw3CM72Qbo,2017-01-08,2017,1,8,ar,sa,NaN,0.0197,0.435,0.0,0.0,108.994,0.736
3,3,188,13736,Enganchado #TocoParaVos - Cumbia Mix,#TocoParaVos,7zW4IqrzU6dTLw3CM72Qbo,2017-01-14,2017,1,14,ar,sa,NaN,0.0197,0.435,0.0,0.0,108.994,0.736
4,4,166,1148,Enganchado #TocoParaVos - Cumbia Mix,#TocoParaVos,7zW4IqrzU6dTLw3CM72Qbo,2017-01-06,2017,1,6,uy,sa,NaN,0.0197,0.435,0.0,0.0,108.994,0.736

In [5]:
genius.head()

,Unnamed: 0,ID,Lyrics
0,1054,2xkxBVJHf9jQsq7g46UtQx,"J'ai fait l'aller, j'suis sur le retour\nLa ma..."
1,1056,69RclklKbEelwfQJCBzh0m,"13 Blo' gang, tu sais d'jà comment on opère mo..."
2,1083,3ruUVcomUKxPlX8srBfMua,"Ich schwör' dir, wenn ich mal Kohle mache, dan..."
3,1121,6L6f5Xg6HJEJbHDDuGBgCE,"Daimler frisiert, zweimal foliert\nGazi hat an..."
4,1125,7hCJgEQQqOlQrWQ9iOZ495,"Ich brauch' Hunderterbatzen, Klunker um'n Nack..."

In [7]:
data.shape

(3355829, 19)

In [33]:
genius.shape

(3350, 3)

The Genius data only contain lyrics for the ID where the lyrics was Nan in the Data data frame. 
Therefore a laft merge om ID is possible.

In [34]:
df = data.merge(genius, how='left', on='ID', indicator=True)

In [35]:
df['_merge'].value_counts()

left_only     3158584
both           197245
right_only          0
Name: _merge, dtype: int64

In [36]:
df['Lyrics_x'].isnull().sum()

2177692

In [37]:
df['Lyrics_x'].fillna(df['Lyrics_y']).isnull().sum()

1980554

In [42]:
# combine Lyrics_x and Lyrics_y column into one column
df['Lyrics_x'].fillna(df['Lyrics_y'],inplace=True)

In [39]:
df.shape

(3355829, 22)

In [40]:
# drop some columns that I do not need
df = df.drop(['Unnamed: 0_x','Unnamed: 0_y'], axis=1)

In [41]:
df.head()

,Position,Streams,Track Name,Artist,ID,Date,Year,Month,Day,Country,Region,Lyrics_x,Acousticness,Energy,Instrumentalness,Mode,Tempo,Valence,Lyrics_y,_merge
0,197,1005,Bailemos juntos,#TocoParaVos,4LEzZn6vpMkQAQuwFInnSh,2017-01-01,2017,1,1,uy,sa,NaN,0.1160,0.596,0.0,0.0,111.938,0.579,NaN,left_only
1,162,14864,Enganchado #TocoParaVos - Cumbia Mix,#TocoParaVos,7zW4IqrzU6dTLw3CM72Qbo,2017-01-07,2017,1,7,ar,sa,NaN,0.0197,0.435,0.0,0.0,108.994,0.736,NaN,left_only
2,190,11133,Enganchado #TocoParaVos - Cumbia Mix,#TocoParaVos,7zW4IqrzU6dTLw3CM72Qbo,2017-01-08,2017,1,8,ar,sa,NaN,0.0197,0.435,0.0,0.0,108.994,0.736,NaN,left_only
3,188,13736,Enganchado #TocoParaVos - Cumbia Mix,#TocoParaVos,7zW4IqrzU6dTLw3CM72Qbo,2017-01-14,2017,1,14,ar,sa,NaN,0.0197,0.435,0.0,0.0,108.994,0.736,NaN,left_only
4,166,1148,Enganchado #TocoParaVos - Cumbia Mix,#TocoParaVos,7zW4IqrzU6dTLw3CM72Qbo,2017-01-06,2017,1,6,uy,sa,NaN,0.0197,0.435,0.0,0.0,108.994,0.736,NaN,left_only

In [ ]:
# read total brutto data frame to CSV is not read to CSV at the moment
# The df for top 10 countris are read to CSV instead

In [43]:
# choose only the top 10 music countries (and exclude the asian countries within)
df2 = df[(df['Country'] == 'us') | (df['Country'] == 'gb') | (df['Country'] == 'de') | (df['Country'] == 'fr') |
         (df['Country'] == 'ca') | (df['Country'] == 'au') | (df['Country'] == 'it') | (df['Country'] == 'nl')]

In [44]:
df2.head()

,Position,Streams,Track Name,Artist,ID,Date,Year,Month,Day,Country,Region,Lyrics_x,Acousticness,Energy,Instrumentalness,Mode,Tempo,Valence,Lyrics_y,_merge
844,177,40381,Bye Bye Bye,*NSYNC,4r8lRYnoOGdEi6YyI5OC1o,2017-10-05,2017,10,5,gb,eu,"hey, hey bye bye bye, bye bye bye bye i'm doi...",0.0408,0.928,0.00104,0.0,172.656,0.879,NaN,left_only
845,151,24132,"Merry Christmas, Happy Holidays",*NSYNC,15coTBAzEN1bOeipoNDZAR,2017-12-23,2017,12,23,it,eu,merry christmas and happy holidays merry chris...,0.1030,0.939,0.00000,1.0,105.003,0.756,NaN,left_only
846,78,49766,"Merry Christmas, Happy Holidays",*NSYNC,15coTBAzEN1bOeipoNDZAR,2017-12-24,2017,12,24,it,eu,merry christmas and happy holidays merry chris...,0.1030,0.939,0.00000,1.0,105.003,0.756,NaN,left_only
847,65,40725,"Merry Christmas, Happy Holidays",*NSYNC,15coTBAzEN1bOeipoNDZAR,2017-12-25,2017,12,25,it,eu,merry christmas and happy holidays merry chris...,0.1030,0.939,0.00000,1.0,105.003,0.756,NaN,left_only
849,197,215739,"Merry Christmas, Happy Holidays",*NSYNC,15coTBAzEN1bOeipoNDZAR,2017-12-22,2017,12,22,us,na,merry christmas and happy holidays merry chris...,0.1030,0.939,0.00000,1.0,105.003,0.756,NaN,left_only

In [47]:
# drop some columns that I do not need
df2 = df2.drop(['Lyrics_y','_merge'], axis=1)

In [52]:
# Rename the lyrics of the column
df2 = df2.rename(index=str, columns={"Lyrics_x": "Lyrics"})

In [53]:
df2.head()

,Position,Streams,Track Name,Artist,ID,Date,Year,Month,Day,Country,Region,Lyrics,Acousticness,Energy,Instrumentalness,Mode,Tempo,Valence
844,177,40381,Bye Bye Bye,*NSYNC,4r8lRYnoOGdEi6YyI5OC1o,2017-10-05,2017,10,5,gb,eu,"hey, hey bye bye bye, bye bye bye bye i'm doi...",0.0408,0.928,0.00104,0.0,172.656,0.879
845,151,24132,"Merry Christmas, Happy Holidays",*NSYNC,15coTBAzEN1bOeipoNDZAR,2017-12-23,2017,12,23,it,eu,merry christmas and happy holidays merry chris...,0.1030,0.939,0.00000,1.0,105.003,0.756
846,78,49766,"Merry Christmas, Happy Holidays",*NSYNC,15coTBAzEN1bOeipoNDZAR,2017-12-24,2017,12,24,it,eu,merry christmas and happy holidays merry chris...,0.1030,0.939,0.00000,1.0,105.003,0.756
847,65,40725,"Merry Christmas, Happy Holidays",*NSYNC,15coTBAzEN1bOeipoNDZAR,2017-12-25,2017,12,25,it,eu,merry christmas and happy holidays merry chris...,0.1030,0.939,0.00000,1.0,105.003,0.756
849,197,215739,"Merry Christmas, Happy Holidays",*NSYNC,15coTBAzEN1bOeipoNDZAR,2017-12-22,2017,12,22,us,na,merry christmas and happy holidays merry chris...,0.1030,0.939,0.00000,1.0,105.003,0.756

In [102]:
# read top 10 (8) music countries data frame to CSV
df2.to_csv('data_lyrics_top10c.csv')