# CLEANING LYRICS #

Source: https://www.kaggle.com/artimous/every-song-you-have-heard-almost

Import things

In [2]:
import pandas as pd
import numpy as np

Load the data

In [3]:
artist = pd.read_csv('./ArtistUrl.csv')
lyrics1 = pd.read_csv('./Lyrics1.csv')
lyrics2 = pd.read_csv('./Lyrics2.csv')

## Get to know the data ##

In [4]:
artist.head()

  Artist                 Urls
0      A      artist/A/291333
1      A      artist/A/814598
2      A     artist/A/1148988
3      A     artist/A/1898726
4    A B  artist/A%20B/472398

In [5]:
lyrics1.head()

,Band,Lyrics,Song
0,Elijah Blake,"No, no\r\nI ain't ever trapped out the bando\r...",Everyday
1,Elijah Blake,"The drinks go down and smoke goes up, I feel m...",Live Till We Die
2,Elijah Blake,She don't live on planet Earth no more\r\nShe ...,The Otherside
3,Elijah Blake,"Trippin' off that Grigio, mobbin', lights low\...",Pinot
4,Elijah Blake,"I see a midnight panther, so gallant and so br...",Shadows & Diamonds

In [10]:
lyrics1.shape

(250000, 3)

In [6]:
lyrics1.isnull().sum()

Band      0
Lyrics    0
Song      1
dtype: int64

In [7]:
lyrics2.head()

,Band,Lyrics,Song
0,Adam Gregory,I was born in the country\r\nFar away from cit...,In the Country
1,Adam Gregory,Do you feel your heart beating a million miles...,Me Too
2,Adam Gregory,There are moments in your life \r\nThat are fr...,Memory Like That
3,Adam Gregory,There's a town by a river\r\nAnd a dirt road t...,Sweet Memories
4,Adam Gregory,I go walkin' down a long road tonight\r\nI go ...,Walkin'

In [11]:
lyrics2.shape

(266174, 3)

In [8]:
lyrics2.isnull().sum()

Band      0
Lyrics    7
Song      0
dtype: int64

In [ ]:
# concat lyrics 1 and 2 together

In [13]:
lyrics = pd.concat([lyrics1, lyrics2])

In [15]:
lyrics.shape

(516174, 3)

In [16]:
lyrics.head()

,Band,Lyrics,Song
0,Elijah Blake,"No, no\r\nI ain't ever trapped out the bando\r...",Everyday
1,Elijah Blake,"The drinks go down and smoke goes up, I feel m...",Live Till We Die
2,Elijah Blake,She don't live on planet Earth no more\r\nShe ...,The Otherside
3,Elijah Blake,"Trippin' off that Grigio, mobbin', lights low\...",Pinot
4,Elijah Blake,"I see a midnight panther, so gallant and so br...",Shadows & Diamonds

In [17]:
lyrics.isnull().sum()

Band      0
Lyrics    7
Song      1
dtype: int64

In [19]:
# I decided to drop the row where the Song or Lyrics are missing (only 8 rows)
lyrics = lyrics.dropna(axis=0, how='any')

In [20]:
lyrics.shape

(516166, 3)

In [ ]:
# Clean the lyrics from strange stuff (did some inital cleaning, need to do more when everything is in one data frame)

In [31]:
# \r\n = new line
# replace '\r\n', '\n\n', '\r', '\n' with ' '
lyrics['Lyrics'] = lyrics['Lyrics'].str.replace('\r\n', ' ')
lyrics['Lyrics'] = lyrics['Lyrics'].str.replace('\n\n', ' ')
lyrics['Lyrics'] = lyrics['Lyrics'].str.replace('\r', ' ')
lyrics['Lyrics'] = lyrics['Lyrics'].str.replace('\n', ' ')

In [32]:
lyrics['Lyrics'].head(15)

0     No, no I ain't ever trapped out the bando But ...
1     The drinks go down and smoke goes up, I feel m...
2     She don't live on planet Earth no more She fou...
3     Trippin' off that Grigio, mobbin', lights low ...
4     I see a midnight panther, so gallant and so br...
5     I just want to ready your mind 'Cause I'll sti...
6     To believe Or not to believe That is the quest...
7     No one here can love or understand me Oh, what...
8     Lullaby of Birdland, that's what I  Always hea...
9     I hate to see that evening sun go down I hate ...
10    You'd be so nice to come home to You'd be so n...
11    Keep the lights down low. Silhouettes bring co...
12    I watch the leaves fall to the ground Suddenly...
13    I'll let it burn.  Words in a dirty paper cup....
14    Quando ero piccolo tutti mi sherzavano Per le ...
Name: Lyrics, dtype: object

In [34]:
#convert to lower case letters
lyrics['Lyrics'] = lyrics['Lyrics'].str.lower()

In [35]:
lyrics['Lyrics'].head(15)

0     no, no i ain't ever trapped out the bando but ...
1     the drinks go down and smoke goes up, i feel m...
2     she don't live on planet earth no more she fou...
3     trippin' off that grigio, mobbin', lights low ...
4     i see a midnight panther, so gallant and so br...
5     i just want to ready your mind 'cause i'll sti...
6     to believe or not to believe that is the quest...
7     no one here can love or understand me oh, what...
8     lullaby of birdland, that's what i  always hea...
9     i hate to see that evening sun go down i hate ...
10    you'd be so nice to come home to you'd be so n...
11    keep the lights down low. silhouettes bring co...
12    i watch the leaves fall to the ground suddenly...
13    i'll let it burn.  words in a dirty paper cup....
14    quando ero piccolo tutti mi sherzavano per le ...
Name: Lyrics, dtype: object

In [ ]:
# Look and see if Chantaje are in the list (just trying looking for a song)

In [36]:
lyrics.loc[lyrics['Song'] == 'Chantaje']

          Band                                             Lyrics      Song
29323  Shakira  cuando estás bien te alejas de mí  te sientes ...  Chantaje

Since the lyrics was last updated areound last summer all songlyrics are not going to be in the lyrics.
I need to scrape this.

## Save to a csv

In [37]:
# load the data to a .csv
lyrics.to_csv('lyrics_clean.csv')