# CLEANING LYRICS #

Source: https://www.kaggle.com/artimous/every-song-you-have-heard-almost

Import things

In [2]:
import pandas as pd
import numpy as np

Load the data

In [3]:
artist = pd.read_csv('./ArtistUrl.csv')
lyrics1 = pd.read_csv('./Lyrics1.csv')
lyrics2 = pd.read_csv('./Lyrics2.csv')

## Get to know the data ##

In [4]:
artist.head()

  Artist                 Urls
0      A      artist/A/291333
1      A      artist/A/814598
2      A     artist/A/1148988
3      A     artist/A/1898726
4    A B  artist/A%20B/472398

In [5]:
lyrics1.head()

,Band,Lyrics,Song
0,Elijah Blake,"No, no\r\nI ain't ever trapped out the bando\r...",Everyday
1,Elijah Blake,"The drinks go down and smoke goes up, I feel m...",Live Till We Die
2,Elijah Blake,She don't live on planet Earth no more\r\nShe ...,The Otherside
3,Elijah Blake,"Trippin' off that Grigio, mobbin', lights low\...",Pinot
4,Elijah Blake,"I see a midnight panther, so gallant and so br...",Shadows & Diamonds

In [6]:
lyrics2.head()

,Band,Lyrics,Song
0,Adam Gregory,I was born in the country\r\nFar away from cit...,In the Country
1,Adam Gregory,Do you feel your heart beating a million miles...,Me Too
2,Adam Gregory,There are moments in your life \r\nThat are fr...,Memory Like That
3,Adam Gregory,There's a town by a river\r\nAnd a dirt road t...,Sweet Memories
4,Adam Gregory,I go walkin' down a long road tonight\r\nI go ...,Walkin'

In [ ]:
Chantaje

In [14]:
lyrics2.loc[lyrics2['Song'] == 'Chantaje']

          Band                                             Lyrics      Song
29323  Shakira  Cuando estás bien te alejas de mí \r\nTe sient...  Chantaje

Since the lyrics was last updated areound last summer all songlyrics are not going to be in the lyrics.
I need to scrape this.